$primary-color: #2f80ed;
$secondary-color: #333333;

html {
    font-family: Roboto, sans-serif;
}

* {
    color: $secondary-color;
}

h1 {
    color: $primary-color;
    margin-bottom: 0.25em;
}

h2 {
    color: $secondary-color;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

a {
    color: $primary-color;
}

